.fac-view-main {
  margin: 1%;
}

.App {
  display: flex;
  margin-top: 1%;
  flex-direction: column; /* Ensure layout stacks vertically on small screens */
}

@media (max-width: 768px) {
  .App {
    padding: 10px;
  }
}
