.mainBody {
    margin: 15px;
    padding: 15px;
    background-color: #f3d2c1;
    box-shadow: 1px 1px 5px 1px #888888;
    border-radius: 20px;
    color: #172c66;
    font-size: 1rem;
  }

  .overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .overlayContent {
    background-color: #fef6e4;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    overflow-y: auto;
    max-width: 90vw;
    width: 100%;
    overflow-x: hidden;
  }
  
  .overlayContent h2 {
    font-size: 24px;
    color: #001858;
    margin-bottom: 20px;
  }
  .dropOverlay {
    max-width: 500px;
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  
  .dropOverlay textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #001858;
    border-radius: 5px;
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    max-width: 100%;
  }
  
  .fileUpload {
    margin-bottom: 20px;
  }
  
  .fileUpload label {
    display: block;
    margin-bottom: 5px;
  }
  
  .fileUpload input[type="file"] {
    width: 100%;
    box-sizing: border-box;
  }

  .dropApplicationForm {
    display: inline-block;
    margin-bottom: 20px;
    color: #001858;
    text-decoration: underline;
  }

  .overlayButtons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: auto;
  }
  
  .submitBtn,
  .cancelBtn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    flex: 1;
  }
  
  .submitBtn {
    background-color: #001858;
    color: white;
  }
  
  .cancelBtn {
    background-color: #f582ae;
    color: #001858;
  }

  .closeOverlay {
    align-self: flex-end;
    background-color: #f582ae;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .closeOverlay:hover {
    background-color: #001858;
  }

  @media (max-width: 768px) {
    .mainBody {
      margin: 10px;
      padding: 10px;
    }
  
    .submitBtn, .cancelBtn {
      font-size: 0.9rem;
    }
  }