@import url("https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

.courseRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: "Poppins", sans-serif;
  }
  
  .courseRow:hover {
    background-color: #F8F8F8;
    transform: translateY(-2px);
  }
  
  .courseItem {
    flex: 1;
    text-align: center;
  }
  
  .syllabusLink {
    color: #B7202E;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .syllabusLink:hover {
    color: #ED1C24;
    text-decoration: underline;
  }
  
  .courseSelect {
    cursor: pointer;
  }