.view-sem-info {
  display: flex;
  flex-direction: column;
  flex: 0 0 20%; 
  background-color: #fef6e4; 
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  gap: 10px;
}

.side-tab {
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
  text-align: center;
  background-color: #f3d2c1; 
  color: #05445e;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.side-tab:hover {
  background-color: #05445e; 
  color: #ffffff;
  transform: scale(1.05); 
}

.side-tab h2 {
  font-size: 16px;
  margin: 5px 0;
}

.side-tab .number {
  font-size: 14px;
  margin: 5px 0;
}

.side-tab.expanded {
  background-color: #189ab4; 
  color: white;
}

@media (max-width: 768px) {
  .view-sem-info {
    flex: 0 0 auto;
    padding: 10px;
    margin-bottom: 10px;
  }

  .side-tab h2 {
    font-size: 14px;
  }

  .side-tab .number {
    font-size: 12px;
  }
}
