.add-top{
  background-color: #f3d2c1;
  height: 15vh;
  width: 97%;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  
}


.add-top button{
  background-color: #8bd3dd;
  color: #001858;
  height: 8vh;
  margin-right: 10px;
  font-size: 2.5rem;
  text-align: center;
  border: none;
  border-radius: 16px;
  width: 40%;

}
#add-upload-btn{
  height: 8vh;
  width:40%;
  border-radius: 16px;
  padding-left: 10px;
  background-color: #8bd3dd;
  display: flex;
  align-items: center;
 }
 #add-upload-btn input{
  font-size: 2.5rem;
  width: 100%;
 }

 .progress-bar {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 4px;
  margin-top: 10px;
}

.progress {
  height: 20px;
  background-color: #4caf50;
  width: 0;
  line-height: 20px;
  text-align: center;
  color: white;
  border-radius: 4px;
  transition: width 0.4s ease;
}

.error-message {
  color: red;
  margin-top: 10px;
}
