@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.bm-main {
  background-color: #f5f5dc;
}

.bm-enter-button {
  background-color: #00bfa6;
  padding: 14px 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 10px;
  border: 2px dashed #00bfa6;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.4s;
}

.bm-enter-button span:last-child {
  display: none;
}

.bm-enter-button:hover {
  transition: 0.4s;
  border: 2px dashed #00bfa6;
  background-color: #fff;
  color: #00bfa6;
}

.bm-enter-button:active {
  background-color: #87dbd0;
}

.br-content {
  width: 100%;
}

.br-top {
  display: flex;
  align-items: center;
  gap: 1.5%;
  margin-top: 1rem;
  width: 90%;
  justify-content: center;
  margin-left: 5%;
}

.br-top input {
  height: 3vh;
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  font-family: "Rubik", sans-serif;
  padding-left: 1.5rem;
}

.br-top input:focus {
  border: 3px solid #424242;
}

.br-bottom {
  height: auto;
  width: 92%;
  background-color: #fff;
  margin-left: 4%;
  margin-top: 1%;
  border-radius: 10px;
}

#message-table {
  width: 100%;
  border-collapse: collapse;
}

#message-table thead tr {
  height: 6vh;
  width: 15%;
  font-size: 1rem;
  position: sticky;
  font-family: "Poppins", sans-serif;
}

#message-table thead tr th {
  background-color: #43b3ae;
  position: sticky;
  top: 0;
  color: white;
}

#table-body td {
  align-items: center;
  justify-content: center;
  height: 4vh;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 0.5rem;
}

#table-body tr:nth-child(odd) {
  background-color: #b1c2f3;
  color: rgb(50, 38, 0);
}

#table-body tr:nth-child(even) {
  background-color: #ffffff;
  color: black;
}

.toggle-td {
  display: flex;
  margin-top: 0.3rem;
}

.toggle-cont {
  width: 100px;
  height: 40px;
  text-align: center;
}

.toggle-cont .toggle-input {
  display: none;
}

.toggle-cont .toggle-label {
  cursor: pointer;
  padding: 6px;
  width: 100%;
  height: 100%;
  background: #272727;
  border-radius: 3rem;
  box-sizing: content-box;
  box-shadow: 0px 0px 16px -8px #fefefe;
  text-align: center;
  justify-content: center;
}

.toggle-cont .toggle-label .cont-label-play {
  position: relative;
  width: 40px;
  aspect-ratio: 1 / 1;
  background: #5e5e5e;
  border-radius: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.toggle-cont .toggle-input:checked + .toggle-label .cont-label-play {
  background: #f43f5e;
  transform: translateX(50px);
}

.toggle-cont .toggle-label .label-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 24px;
  aspect-ratio: 1 / 1;
  background: #fefefe;
  border-radius: 4px;
  clip-path: polygon(25% 0, 75% 50%, 25% 100%, 25% 51%);
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.toggle-cont .toggle-input:checked + .toggle-label .label-play {
  width: 20px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.broad-delete-btn {
  width: 40px;
  height: 40px;
  background-color: #f44336;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.broad-delete-btn img {
  width: 1.5em;
}

.br-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.enter-bd-button {
  width: 13rem;
  height: 3.5em;
  border-radius: 8px;
  border: 0.15em solid rgb(28, 76, 115);
  color: #43b3ae;
  background-color: #00000000;
  transition: all 0.5s ease;
}

.enter-bd-button .text {
  display: none;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.enter-bd-button:hover > .text {
  display: block;
}

.enter-bd-button:hover > svg {
  display: none;
}

.enter-bd-button:hover {
  background-color: #43b3ae;
  color: #fff;
}

.enter-bd-button svg {
  width: 1.5em;
  margin-top: 3px;
}
