.container{
  display: flex;
  gap: 1%;
}
a{
  text-decoration: none;
}
.br-content{
  width: 75%;
}
.br-top{
  display: flex;
 align-items: center;
  margin-top: 5%;
}
.br-top h3{
  font-size: 1.4rem;
  color: #001858;
}
.br-top input{
  height: 4vh;
  width: 75%;
  padding: 8px;
  font-size: 1.5rem;
}
.br-top button{
  background-color: #8bd3dd;
  border: none;
  width: 8%;
  height: 4vh;
  border-radius: 1.5rem;
  font-size: 1.2rem;
}
.enter-button:hover{
  cursor: pointer;
  background-color: #e75f5f;
  transition: 0.5s;

}
.br-bottom{
  height: 60vh;
  width: 92%;
  background-color: #f3d2c1;
  border-radius: 16px;
  margin: 4%;
}
table{
  width: 100%;
  border-collapse: collapse;
}
thead tr{
  /* border-radius: 16px; */
  height: 6vh;
  width: 15%;
  font-size: 24px;
  position:sticky;
}
th{
  background-color: #bc414e;
  position: sticky;
  top: 0;
  color: white;
}
thead :nth-child(1){
  width: 10%;
}
thead :nth-child(2){
  width: 60%;
}
thead :nth-child(3){
  width: 30%;
}
th, td{
  /* border-radius: 16px; */
  padding: 16px;
  text-align: center;
  /* border: 1px solid #ddd; */
}
tbody td{
  height: 8vh;
  font-size: 1.3rem;
}
tbody tr:nth-child(odd){
  background-color: #172c66;
  color: white;
  
  
  }
  tbody tr:nth-child(even) {
    background-color: white;
  }
  /* From Uiverse.io by MuhammadHasann */ 
.toggle-cont {
  width: 100px;
  height: 50px;
  border-radius: 9999px;
}

.toggle-cont .toggle-input {
  display: none;
}

.toggle-cont .toggle-label {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 6px;
  width: 100%;
  height: 100%;
  background: #272727;
  border-radius: 9999px;
  box-sizing: content-box;
  box-shadow: 0px 0px 16px -8px #fefefe;
}

.toggle-cont .toggle-label .cont-label-play {
  position: relative;
  width: 50px;
  aspect-ratio: 1 / 1;
  background: #5e5e5e;
  border-radius: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.toggle-cont .toggle-input:checked + .toggle-label .cont-label-play {
  background: #f43f5e;
  transform: translateX(50px);
}

.toggle-cont .toggle-label .label-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 24px;
  aspect-ratio: 1 / 1;
  background: #fefefe;
  border-radius: 4px;
  clip-path: polygon(25% 0, 75% 50%, 25% 100%, 25% 51%);
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.toggle-cont .toggle-input:checked + .toggle-label .label-play {
  width: 20px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

  .delete-btn {
    background-color: #f44336;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 50px;
    
  }
  table img{
    height: 4vh;
  }
  .br-btn{
    display: flex;
    align-items:center;
    justify-content: center;
  }
  #table-body td{
    padding: 30px;
  }