.fira-sans-thin {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.fira-sans-thin-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.fira-sans-extralight-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.fira-sans-light-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.fira-sans-regular-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.fira-sans-medium-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.fira-sans-semibold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.fira-sans-bold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.fira-sans-extrabold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.fira-sans-black-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body{
  font-family: 'Fira Sans', sans-serif;
  background-color: #fef6e4;
  font-family: "Fira Sans", sans-serif;;
}

button {
font-family: 'Fira Sans', sans-serif;
}

.navbar {
  height: 120px;
  box-shadow: 1px 1px 5px 1px #888888;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.logoutBtn {
  background-color: white;
  color: black;
  border: 5px solid #f44336;
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 1px 1px 5px 1px #888888;
  margin-right: 50px;
}

.somaiya-logo-main {
  margin-left: 50px;
  height: 80px;
}
.container{
  display: flex;
}
#side-nav {
  position: fixed;
  width: 1.5%;
  margin-top: 1%;
  left: 0;
  padding: 15px;
  background-color:transparent;
  color: black;
  cursor: pointer;
  font-size: 2rem;
  z-index: 1;
}

#sidebar {
  z-index: 1;
  height: 100%;
  width: 0;
  position: fixed;
  margin-top: 1%;
  left: 0;
  background-color:  #bc414e;
  overflow-x: hidden;
  color: black;
  transition: 0.5s;
  padding-top: 60px;
}

#sidebar button {
  padding: 10px 15px;
  text-align: left;
  border: none;
  background: none;
  color: WHITE;
  font-size: 18px;
  display: block;
  width: 100%;
  cursor: pointer;
}

#sidebar button:hover {
  background-color: #575757;
}
a{
  text-decoration: none;
}
.br-content{
  width: 80%;
}
.br-top{
  display: flex;
 align-items: center;
  margin-top: 5%;
  gap: 1.5%;
}
.br-top h3{
  font-size: 1.5rem;
  color: #001858;
}
.br-top input{
  height: 4vh;
  width: 75%;
  padding: 8px;
  font-size: 1.5rem;
}
.br-top button{
  background-color: #8bd3dd;
  border: none;
  width: 8%;
  height: 4vh;
  border-radius: 1.5rem;
  font-size: 1.2rem;
}
.enter-button:hover{
  cursor: pointer;
  background-color: #e75f5f;
  transition: 0.5s;

}
.br-bottom{
  height: 60vh;
  width: 92%;
  background-color: #f3d2c1;
  border-radius: 16px;
  margin: 4%;
}
table{
  width: 100%;
  border-collapse: collapse;
}
thead tr{
  /* border-radius: 16px; */
  height: 6vh;
  width: 15%;
  font-size: 24px;
  position:sticky;
}
th{
  background-color: #bc414e;
  position: sticky;
  top: 0;
  color: white;
}
thead :nth-child(1){
  width: 10%;
}
thead :nth-child(2){
  width: 60%;
}
thead :nth-child(3){
  width: 30%;
}
th, td{
  /* border-radius: 16px; */
  padding: 16px;
  text-align: center;
  /* border: 1px solid #ddd; */
}
tbody td{
  height: 8vh;
  font-size: 1.3rem;
}
tbody tr:nth-child(odd){
  background-color: #172c66;
  color: white;
  
  
  }
  tbody tr:nth-child(even) {
    background-color: white;
  }
  /* From Uiverse.io by MuhammadHasann */ 
.toggle-cont {
  width: 100px;
  height: 50px;
  border-radius: 9999px;
}

.toggle-cont .toggle-input {
  display: none;
}

.toggle-cont .toggle-label {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 6px;
  width: 100%;
  height: 100%;
  background: #272727;
  border-radius: 9999px;
  box-sizing: content-box;
  box-shadow: 0px 0px 16px -8px #fefefe;
}

.toggle-cont .toggle-label .cont-label-play {
  position: relative;
  width: 50px;
  aspect-ratio: 1 / 1;
  background: #5e5e5e;
  border-radius: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.toggle-cont .toggle-input:checked + .toggle-label .cont-label-play {
  background: #f43f5e;
  transform: translateX(50px);
}

.toggle-cont .toggle-label .label-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 24px;
  aspect-ratio: 1 / 1;
  background: #fefefe;
  border-radius: 4px;
  clip-path: polygon(25% 0, 75% 50%, 25% 100%, 25% 51%);
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.toggle-cont .toggle-input:checked + .toggle-label .label-play {
  width: 20px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

  .delete-btn {
    background-color: #f44336;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 50px;
    
  }
  table img{
    height: 4vh;
  }
  .br-btn{
    display: flex;
    align-items:center;
    justify-content: center;
  }
  #table-body td{
    padding: 30px;
  }