.template{
    height: 100px;
    width: 94%;
    background-color: #f3d2c1;
    margin: 25px 50px;
    border: 1px solid black;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    font-size: 32px;
    font-family: "Fira Sans", sans-serif;
    padding: 10px;
   }
  
   .template button{
    height: 80px;
    width: 28%;
    margin: 5%;
    font-size: 2rem;
    font-family: 'Marcellus';
    color: white;
    border: none;
    border-radius: 24px;
   }
   
   #honours{
    background-color: #870000;
    text-decoration: none;
   }
   #minors{
    background-color: #944A06;
   }
 