.add-content {
  display: flex;
  gap: 30px;
}
.add-right {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
}
.add-bottom {
  background-color: #f3d2c1;
  width: 87%;
  height: 50vh;
  border-radius: 24px;
  display: flex;
  column-gap: 10px;
  row-gap: 10px;
  flex-wrap: wrap;
  overflow-y: auto;
  margin-top: 1%;
}