.alp-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 85vh;
}

.land-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 50px;
}

.left-panel, .right-panel {
    background-color: white;
    border-radius: 1rem;
    /* padding: 20px; */
    margin-bottom: 20px;
    width: 95%;
}

.left-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 8rem;
    background-color: transparent;
}
.right-panel {
    background-color: transparent;
    height: 25rem;
    width: 75vw;
}

table {
    table-layout: fixed;
    width: 70vw;
    border-collapse: collapse;
}

.alp-tr {
    background-color: white;
    height: 8vh;
    font-size: 1.2rem;
    
}

.alp-tr th {
    background-color: white;
    position: sticky;
    top: 0;
    color:  #106EBE;
}

th, td {
    padding: 8px;
    text-align: center;
}