:root {
  --bg-primary: #f5f5dc;
  --accent-primary: #43b3ae;
  --text-light: #ffffff;
  --border-radius: 1rem;
  --transition: all 0.3s ease-in-out;
}

.alp-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.land-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 50px;
}

.left-panel {
  width: 100%;
  padding: 2rem;
  border-radius: var(--border-radius);
  background-color: #f3d2c1;
  box-shadow: var(--shadow-md);
  transition: var(--transition);
  margin-bottom: 2rem;
}

.right-panel {
  height: 25rem;
  width: 85%;
  border-radius: 1%;
}

.admin_term_formtitle{
  font-size: 1.3rem;
}

#admin-term-table {
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
  padding: 10px;
  border-collapse: collapse;
}

#admin-term-table th:first-child {
  border-top-left-radius: 1rem;
}

#admin-term-table th:last-child {
  border-top-right-radius: 1rem;
}

#admin-term-table th {
  background-color: #bc414e;
  color: var(--text-light);
  font-size: 1rem;
  width: 20%;
  height: 1rem;
  text-align: center;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  position: sticky;
  top: 0;
  z-index: 10;
}

#admin-term-table td {
  background-color: var(--bg-primary);
  color: black;
  box-shadow: 0 4px 0px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(15, 252, 190, 0.2);
  width: 20%;
  height: 1rem;
  font-size: 1rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.alp-tr {
  background-color: white;
  height: 8vh;
  font-size: 1.2rem;
}

.alp-tr th {
  background-color: white;
  position: sticky;
  top: 0;
  color: #106ebe;
}

th,
td {
  padding: 8px;
  text-align: center;
}

@media (max-width: 480px) {
  .right-panel {
    width: 95%;
  }
}
