.topside-table {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 5%;
  margin-right: 5%;
  gap: 3rem;
}

.add-right-container{
  display: flex;
  flex-direction: column;
  table-layout: fixed;
  margin-left: 2rem;
}
 
 
