.topside-table {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 5%;
  margin-right: 5%;
  gap: 3rem;
}

.add-right-container {
  display: flex;
  flex-direction: column;
  table-layout: fixed;
  margin-left: 2rem;
}

@media (max-width: 768px) {
  .topside-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .add-right-container {
    margin-left: 0px;
  }

  .topside-table {
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  .topside-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .add-right-container {
    margin-left: 0px;
  }
  
  .topside-table {
    gap: 1rem;
  }
}
